<?xml version='1.0' encoding='utf-8'?>
<widget id="io.realm.cordova-example" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CordovaExample</name>
    <description>
        A sample Cordova application that uses the Realm JS API.
    </description>
    <author href="http://realm.io">
        Realm
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="deployment-target" value="8.0" />
    </platform>
    <plugin name="realm-cordova" spec="../../cordova" />
</widget>
