**/*.orig
**/build/
**/node_modules/

core*

.git/
android/
docs/
examples/
react-native/
vendor/

src/android/
src/ios/

src/object-store/**/*.ninja
src/object-store/**/.ninja*
src/object-store/**/cmake_install.cmake
src/object-store/**/CMakeFiles/
src/object-store/**/Makefile
src/object-store/src/librealm-object-store.*
src/object-store/tests/tests

tests/ios/
tests/ReactTestApp/
