/core*/
/docs/jsdoc-template/
/docs/output/
/docs/plugins/

build/
node_modules/
vendor/

/tests/test-runners/
/object-server-for-testing/

# The sub-packages have their own linting
/integration-tests/
/install-tests/
/packages/
/templates/
/example/
