*~
.DS_Store

# Merge files
*.orig

# Binaries
*.dylib
*.a
*.o
*.d
*.libdeps
*.zip
*.realm
*.realm.lock
*.management/

vendor/realm-*

# jsdoc
/docs/output

# XCode
*.bak
xcuserdata/
project.xcworkspace
*.xccheckout
DerivedData

# node.js
node_modules/
npm-debug.log
build/
/compiled/
*.lock

# Emacs
*~

# Android/IJ
/android
/react-native/android/src/main/jni/core
.idea
.gradle
local.properties

# Visual Studio Code
.vscode

# Tests
object-server-for-testing/
realm-object-server-data/
tests/realm-object-server/
packager_out.txt
build.log.*
realm-object-server/
tests/react-test-app/ios/out.txt
*.iml
crash.log
tests/react-test-app/ios/Pods/
tests/react-test-app/ios/ReactTests.xcworkspace/
examples/ReactExample/ios/Pods/
examples/ReactExample/ios/ReactExample.xcworkspace/

# Integration tests
integration-tests/**/*.tgz
integration-tests/environments/electron/dist/
integration-tests/environments/react-native/ios/Pods/
integration-tests/tests/dist/

#Ignore symlinked directories (otherwise on Windows they are shown as untracked files)
/react-native/android/src/main/jni/vendor/
/react-native/android/src/main/jni/src/
/build-tmp*/
