*~
.DS_Store

# Merge files
*.orig

# Binaries
*.dylib
*.a
*.o
*.d
*.libdeps
*.zip
*.realm
*.realm.lock
*.realm.note
*.management/
*.realm.backup-log

vendor/realm-*
!vendor/realm-core

# extracted changelog
EXTRACTED_CHANGELOG.md

# jsdoc
/docs/output

# doxygen
/contrib/docs/output

# XCode
*.bak
xcuserdata/
project.xcworkspace
*.xccheckout
DerivedData

# node.js
node_modules/
npm-debug.log
build/
/prebuilds/
yarn.lock

# Emacs
*~

# Android/IJ
/android
/react-native/android/src/main/jni/core
/react-native/android/.cxx/
/build-android/
.idea
.gradle
local.properties

# Visual Studio Code
.vscode
compile_commands.json
.cache

# Tests
object-server-for-testing/
realm-object-server-data/
tests/realm-object-server/
tests/mongodb-realm/
packager_out.txt
build.log.*
realm-object-server/
tests/ReactTestApp/ios/out.txt
tests/ReactTestApp/ios/Podfile.lock
*.iml
crash.log
examples/ReactExample/ios/Pods/
examples/ReactExample/ios/ReactExample.xcworkspace/
tests/mongodb-realm
install-tests/react-native/app/
install-tests/react-native/payload.json
install-tests/react-native/result-*

# Integration tests
integration-tests/environments/electron/dist/
integration-tests/environments/react-native/ios/Pods/
integration-tests/tests/dist/
integration-tests/tests/src/bench/rolledup.js
# TODO: Solve .lock files are produced in "throws when called with an empty string"
integration-tests/**/.lock

# Realm App Importer artifacts
**/imported-apps/
**/realm-config

#Ignore symlinked directories (otherwise on Windows they are shown as untracked files)
/react-native/android/src/main/jni/vendor/
/react-native/android/src/main/jni/src/
/build-tmp*/
/cmakebuild/
/react-native/android/src/main/java/io/realm/react/Version.java
/react-native/android/src/main/jniLibs/
/realm*.tgz
/tests/js/realm-tests*.tgz
/react-native/ios/realm-js-ios.xcframework/

# Generated artifacts
/packages/bindgen/generated/
/packages/realm/generated/

# Build artifacts
/packages/realm/dist/
/packages/realm/prebuilds/
/packages/realm/react-native/android/src/main/java/io/realm/react/Version.java
/packages/realm/react-native/android/src/main/jniLibs/
/packages/realm/react-native/ios/realm-js-ios.xcframework/

# Turbo repo caches
.turbo

# TypeScript build info
*.tsbuildinfo

# Rollup
.rollup.cache/
