[submodule "vendor/GCDWebServer"]
	path = vendor/GCDWebServer
	url = https://github.com/swisspol/GCDWebServer.git
[submodule "docs/jsdoc-template"]
	path = docs/jsdoc-template
	url = https://github.com/realm/realm-jsdoc.git
[submodule "vendor/realm-core"]
	path = vendor/realm-core
	url = https://github.com/realm/realm-core.git
