{
  "env": {
    "es6": true,
    "worker": true
  },
  "globals": {
    "global": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "forOf": false
    },
    "sourceType": "module"
  },
  "rules": {
    "strict": 0
  }
}
