name: Unit tests

env:
  REALM_DISABLE_ANALYTICS: 1
  MOCHA_REMOTE_TIMEOUT: 10000

on:
  pull_request:
    paths:
      # Source code
      - "packages/**"
      # No need to run when updating documentation
      - "!**.md"
      # Run this on updates to the workflow
      - ".github/workflows/package-unit-tests.yml"

jobs:
  unit-tests-linux:
    strategy:
      fail-fast: false
      matrix:
        workspace:
          - realm
          - '@realm/bindgen'
          - '@realm/network-transport'
          - '@realm/babel-plugin'
          - '@realm/react'
    name: ${{ matrix.workspace }} unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: "recursive"
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      # ninja-build is used by default if available and results in faster build times
      - name: Install ninja
        run: sudo apt-get install ninja-build
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1
      # Install the root package to get dev-dependencies
      # (--ignore-scripts to avoid downloading or building the native module)
      - run: npm ci --ignore-scripts
      - run: npm test --workspace ${{ matrix.workspace }}
