name: Pull request build and test
on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  # get-ci-args:
  #   name: Get CI arguments
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: "Set flags from Commit"
  #       env:
  #         COMMIT_FAST_VAR: ${{ contains(github.event.head_commit.message, '[fast]') }}
  #       run: |
  #         if ${COMMIT_VAR} == true; then
  #           echo "fast_run=true" >> $GITHUB_ENV
  #         else
  #           echo "fast_run=false" >> $GITHUB_ENV
  #         fi
  build:
    name: Build for ${{ matrix.variant.os }} ${{ matrix.variant.arch }}
    runs-on: ${{ matrix.variant.runner }}
    # if container is not set for a variant, this is a noop
    container: ${{ matrix.variant.container }}
    env:
      REALM_DISABLE_ANALYTICS: 1
      NDK_VERSION: 23.2.8568313
    strategy:
      fail-fast: false
      matrix:
        variant:
          - { os: linux, runner: ubuntu-latest, arch: x64, artifact-path: prebuilds, test-node: true, test-electron: true, container: "ghcr.io/${{ github.repository }}/linux-x64:master" }
          - { os: linux, runner: ubuntu-latest, arch: arm, artifact-path: prebuilds, container: "ghcr.io/${{ github.repository }}/linux-arm:master" }
          - { os: linux, runner: ubuntu-latest, arch: arm64, artifact-path: prebuilds, container: "ghcr.io/${{ github.repository }}/linux-arm:master" }
          - { os: windows, runner: windows-latest, arch: x64, artifact-path: prebuilds, test-node: true, test-electron: true }
          - { os: windows, runner: windows-2019, arch: ia32, artifact-path: prebuilds }
          - { os: android, runner: ubuntu-latest, arch: x86_64, artifact-path: react-native/android/src/main/jniLibs }
          - { os: android, runner: ubuntu-latest, arch: armeabi-v7a, artifact-path: react-native/android/src/main/jniLibs }
          - { os: android, runner: ubuntu-latest, arch: arm64-v8a, artifact-path: react-native/android/src/main/jniLibs }
          - { os: android, runner: ubuntu-latest, arch: x86, artifact-path: react-native/android/src/main/jniLibs }
          - { os: darwin, runner: macos-latest, arch: x64, artifact-path: prebuilds, test-node: true, test-electron: true }
          - { os: darwin, runner: macos-latest, arch: arm64, artifact-path: prebuilds, test-node: true, test-electron: true }
          - { os: ios, runner: macos-latest, arch: simulator, artifact-path: react-native/ios/realm-js-ios.xcframework }
          - { os: ios, runner: macos-latest, arch: catalyst, artifact-path: react-native/ios/realm-js-ios.xcframework }
          - { os: ios, runner: macos-latest, arch: ios, artifact-path: react-native/ios/realm-js-ios.xcframework }
    steps:
      - uses: ./.github/workflows/build-tests.yml
        with:
          if: ${{ contains(github.event.head_commit.message, '[fast]') }}
          os: ${{ matrix.variant.os }}
          runner: ${{ matrix.variant.runner }}
          arch: ${{ matrix.variant.arch}}
          artifact-path: ${{ matrix.variant.artifact-path}}
          container: ${{ matrix.variant.container}}

  ios-xcframework:
    name: Generate Info.plist with all frameworks in place
    needs: [build]
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: "recursive"

      - name: Download prebuilds
        uses: actions/download-artifact@v2
        with:
          name: realm-js-prebuilds

      - name: Regenerate Info.plist
        run: scripts/regen-info-plist.sh react-native/ios/realm-js-ios.xcframework

      # Due to a limitation in upload-artifact a redundant file is needed to force 
      # preserving paths (https://github.com/actions/upload-artifact/issues/174) 
      - name: Upload prebuild artifact
        uses: actions/upload-artifact@v2
        with:
          name: realm-js-prebuilds
          path: |
            dependencies.list
            react-native/ios/realm-js-ios.xcframework/Info.plist

  integration-tests:
    name: Integration tests (${{matrix.variant.target}}) for ${{ matrix.variant.environment }} on ${{ matrix.variant.os }}
    needs: [build, ios-xcframework]
    env:
      REALM_DISABLE_ANALYTICS: 1
      MOCHA_REMOTE_TIMEOUT: 60000
      LONG_TIMEOUT: 300000 # 5 minutes
      REALM_BASE_URL: ${{ secrets.REALM_QA_BASE_URL }}
      REALM_PUBLIC_KEY: ${{ secrets.ATLAS_QA_PUBLIC_API_KEY }}
      REALM_PRIVATE_KEY: ${{ secrets.ATLAS_QA_PRIVATE_API_KEY }}
      MOCHA_REMOTE_REPORTER: mocha-github-actions-reporter
      MOCHA_REMOTE_EXIT_ON_ERROR: true
      SPAWN_LOGCAT: true
      # Pin the Xcode version
      DEVELOPER_DIR: /Applications/Xcode_13.4.1.app
    runs-on: ${{ matrix.variant.runner }}
    strategy:
      fail-fast: false
      matrix:
        variant:
          - { os: linux, target: test, runner: ubuntu-latest, environment: node }
          - { os: linux, target: "test:main", runner: ubuntu-latest, environment: electron }
          - { os: linux, target: "test:renderer", runner: ubuntu-latest, environment: electron }
          #- { os: windows, target: test, runner: windows-latest, environment: node}
          #- { os: windows, target: "test:main", runner: windows-latest, environment: electron }
          #- { os: windows, target: "test:renderer", runner: windows-latest, environment: electron }
          - { os: darwin, target: "test:main", runner: macos-latest, environment: electron }
          - { os: darwin, target: "test:renderer", runner: macos-latest, environment: electron }
          - { os: darwin, target: test, runner: macos-latest, environment: node }
          - { os: android, target: "test:android", runner: macos-latest, environment: react-native, arch: "armeabi-v7a" }
          - { os: ios, target: "test:ios", runner: macos-latest, environment: react-native, arch: "ios" }
          #- { os: ios, target: "test:catalyst", runner: macos-latest, environment: react-native, arch: "catalyst" }
    timeout-minutes: 60
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: "recursive"

      - name: Setup node version
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: Get NPM cache directory
        id: npm-cache-dir
        run: echo "::set-output name=dir::$(npm config get cache)"

      - name: Restore NPM cache
        id: npm-cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Restore React Native cache
        if: ${{ matrix.variant.environment == 'react-native' }}
        id: lerna-cache
        uses: actions/cache@v2
        with:
          path: '**/Pods'
          key: ${{ runner.os }}-${{matrix.variant.environment}}-${{ hashFiles('**/Podfile.lock', './src/**', './vendor/**') }}
          restore-keys: |
            ${{ runner.os }}-${{matrix.variant.environment}}-

      - name: MSVC Setup
        if: ${{ runner.os == 'Windows' }}
        uses: ilammy/msvc-dev-cmd@v1

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1
        if: ${{ matrix.variant.environment == 'react-native' }}
        with:
          key: ${{ runner.os }}-${{ matrix.variant.os }}-${{ matrix.variant.arch }}
          max-size: '2.0G'

      # in CI file timestamps change with every run so instead rely on file content hashing
      # https://reactnative.dev/docs/build-speed#using-this-approach-on-a-ci
      - name: Configure ccache
        if: ${{ matrix.variant.environment == 'react-native' }}
        run: ccache --set-config="compiler_check=content"

      - name: Install IOS tools
        if: ${{ (matrix.variant.os == 'ios') }}
        run: |
          npm install -g ios-deploy

      - name: Set xvfb wrapper for Linux / electron tests
        if: ${{ (matrix.variant.os == 'linux') && (matrix.variant.environment == 'electron' )}}
        run: |
          sudo apt-get install xvfb
          echo "wrapper=xvfb-run" >> $GITHUB_ENV

      - name: Download prebuilds
        uses: actions/download-artifact@v2
        with:
          name: realm-js-prebuilds

      - name: Install dependencies
        # Ignoring scripts to prevent building if a prebuild is missing
        run: npm ci --ignore-scripts

      - name: Install prebuild
        if: ${{ matrix.variant.environment == 'node' || matrix.variant.environment == 'electron' }}
        run: npx prebuild-install --tag-prefix= -r napi
        env:
          npm_config_realm_local_prebuilds: ${{github.workspace}}/prebuilds

      - name: Bootstrap lerna sub-packages
        run: npx lerna bootstrap --scope @realm/${{ matrix.variant.environment }}-tests --include-dependencies

      - name: Install pods
        if: ${{ matrix.variant.environment == 'react-native' && matrix.variant.os == 'ios'}}
        working-directory: integration-tests/environments/${{ matrix.variant.environment }}
        run: npx pod-install

      - name: Build tests
        run: npm run build --prefix integration-tests/tests

      - name: Invoke the simulator (making subsequent "open -a Simulator" calls work)
        if: ${{ (matrix.variant.os == 'ios') }}
        run: open -a ${{ env.DEVELOPER_DIR }}/Contents/Developer/Applications/Simulator.app/Contents/MacOS/Simulator

      - name: Create Mocha Env
        id: mocha-env
        run: echo "::set-output name=name::syncLogLevel=warn,longTimeout=${{ env.LONG_TIMEOUT }},realmBaseUrl=${{ secrets.REALM_QA_BASE_URL }},mongodbClusterName=${{ secrets.ATLAS_QA_DAILY_CLUSTER_NAME }},privateKey=${{ secrets.ATLAS_QA_PRIVATE_API_KEY }},publicKey=${{ secrets.ATLAS_QA_PUBLIC_API_KEY }}"

      - name: Run ${{matrix.variant.target}} (${{ matrix.variant.os}} / ${{ matrix.variant.environment }})
        if: ${{ (matrix.variant.os != 'android') && (matrix.variant.os != 'ios') }}
        env:
          MOCHA_REMOTE_CONTEXT: ${{ steps.mocha-env.outputs.name }}
        # The non react native environments should not take so long
        timeout-minutes: 20
        run: ${{ env.wrapper }} npm run ${{ matrix.variant.target}} --prefix integration-tests/environments/${{ matrix.variant.environment }}

      - name: Run ${{matrix.variant.target}} (${{ matrix.variant.os}} / ${{ matrix.variant.environment }})
        if: ${{ (matrix.variant.os == 'ios') }}
        env:
          MOCHA_REMOTE_CONTEXT: ${{ steps.mocha-env.outputs.name }}
        timeout-minutes: 45
        run: ${{ env.wrapper }} npm run ${{ matrix.variant.target}} --prefix integration-tests/environments/${{ matrix.variant.environment }}

      - name: Setup Java Gradle cache for android test app
        if: ${{ (matrix.variant.os == 'android') }}
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Setup Android Emulator cache
        if: ${{ (matrix.variant.os == 'android') }}
        uses: actions/cache@v3.0.4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-29

      - uses: actions/setup-java@v3
        if: ${{ (matrix.variant.os == 'android') }}
        with:
          distribution: 'zulu' # See 'Supported distributions' for available options
          java-version: '11'

      - name: Run ${{matrix.variant.target}} (${{ matrix.variant.os}} / ${{ matrix.variant.environment }})
        if: ${{ (matrix.variant.os == 'android') }}
        env:
          MOCHA_REMOTE_CONTEXT: ${{ steps.mocha-env.outputs.name }}
        timeout-minutes: 45
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          arch: x86
          ndk: ${{ env.NDK_VERSION }}
          cmake: 3.22.1
          script: npm run ${{ matrix.variant.target}} --prefix integration-tests/environments/${{ matrix.variant.environment }}
