name: Pull request build and test
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: Build for ${{ matrix.variant.os }} ${{ matrix.variant.arch }}
    runs-on: ${{ matrix.variant.runner }}
    # if container is not set for a variant, this is a noop
    container: ${{ matrix.variant.container }}
    env:
      REALM_DISABLE_ANALYTICS: 1
      NDK_VERSION: 23.2.8568313
    strategy:
      fail-fast: false
      matrix:
        variant:
          - { os: linux, runner: ubuntu-latest, arch: x64, artifact-path: prebuilds, test-node: true, test-electron: true, container: "ghcr.io/${{ github.repository }}/linux-x64:master" }
          - { os: linux, runner: ubuntu-latest, arch: arm, artifact-path: prebuilds, container: "ghcr.io/${{ github.repository }}/linux-arm:master" }
          - { os: linux, runner: ubuntu-latest, arch: arm64, artifact-path: prebuilds, container: "ghcr.io/${{ github.repository }}/linux-arm:master" }
          - { os: windows, runner: windows-latest, arch: x64, artifact-path: prebuilds, test-node: true, test-electron: true }
          - { os: windows, runner: windows-2019, arch: ia32, artifact-path: prebuilds }
          - { os: android, runner: ubuntu-latest, arch: x86_64, artifact-path: react-native/android/src/main/jniLibs }
          - { os: android, runner: ubuntu-latest, arch: armeabi-v7a, artifact-path: react-native/android/src/main/jniLibs }
          - { os: android, runner: ubuntu-latest, arch: arm64-v8a, artifact-path: react-native/android/src/main/jniLibs }
          - { os: android, runner: ubuntu-latest, arch: x86, artifact-path: react-native/android/src/main/jniLibs }
          - { os: darwin, runner: macos-latest, arch: x64, artifact-path: prebuilds, test-node: true, test-electron: true }
          - { os: darwin, runner: macos-latest, arch: arm64, artifact-path: prebuilds, test-node: true, test-electron: true }
          # - { os: ios, runner: macos-latest, arch: apple, artifact-path: react-native/ios/realm-js-ios.xcframework }
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: "recursive"

      - name: Setup node version
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: Get NPM cache directory
        id: npm-cache-dir
        run: echo "::set-output name=dir::$(npm config get cache)"

      - name: Restore NPM cache
        id: npm-cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: MSVC Setup
        if: ${{ runner.os == 'Windows' }}
        uses: ilammy/msvc-dev-cmd@v1

      # ninja-build is used by default if available and results in faster build times
      # On linux, electron requires a connected display.  We fake this by giving it a headless environment using xvfb
      # Relevant issue: https://github.com/juliangruber/browser-run/issues/147
      - name: Linux Environment setup
        if: ${{ (matrix.variant.runner == 'ubuntu-latest') && (matrix.variant.container == '') }}
        run: sudo apt-get install ccache ninja-build

      - name: Setup Java
        if: ${{ matrix.variant.os == 'android' }}
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu' # See 'Supported distributions' for available options
          java-version: '11'

      - name: Setup Android SDK
        if: ${{ matrix.variant.os == 'android' }}
        uses: android-actions/setup-android@v2

      - name: Install NDK
        if: ${{ matrix.variant.os == 'android' }}
        run: sdkmanager --install "ndk;${{ env.NDK_VERSION }}"

      # The ccache installed by github doesn't want to be moved around. Let the ccache action download a new one.
      - name: Remove pre-installed ccache
        if: ${{ runner.os == 'Windows' }}
        shell: bash
        # There are two; remove both
        run: |
          rm -fv $(which ccache)
          rm -fv $(which ccache)

      - name: ccache
        uses: hendrikmuhs/ccache-action@bd43b7f5fb36d5f97ef5c6cc818a2055b04f610a
        with:
          key: ${{ runner.os }}-${{ matrix.variant.os }}-${{ matrix.variant.arch }}
          max-size: '2.0G'

      - name: Prepend ccache executables to the PATH
        if: ${{ runner.os != 'Windows' }}
        run: |
          echo "/usr/lib/ccache:/usr/local/opt/ccache/libexec" >> $GITHUB_PATH

      # in CI file timestamps change with every run so instead rely on file content hashing
      # https://reactnative.dev/docs/build-speed#using-this-approach-on-a-ci
      - name: Configure ccache
        run: ccache --set-config="compiler_check=content"

      - name: Install dependencies
        # Ignoring scripts to prevent a prebuilt from getting fetched / built
        run: npm ci --ignore-scripts

      - name: Insert ccache executables
        if: ${{ runner.os == 'Windows' }}
        shell: bash
        run: |
          cl_exe=$(which cl.exe)
          cl_dir=$(dirname "$cl_exe")
          # For 32-bit it uses a different compiler than the one in the path
          if [ ${{ matrix.variant.arch }} = ia32 ]; then
              cl_dir=$(dirname "$cl_dir")/x86
              cl_exe="$cl_dir/cl.exe"
          fi
          cl_dir_windows="C:${cl_dir#/c}"
          mv -v "$cl_exe" "$cl_dir"/cl-real.exe
          cp -v "$cl_dir"/cl.exe.config "$cl_dir"/cl-real.exe.config
          ccache_exe=$(which ccache.exe)
          cp -v "$ccache_exe" "$cl_dir"/cl.exe
          ls -l "$cl_dir"
          echo "CCACHE_COMPILER=$cl_dir_windows/cl-real.exe" >> $GITHUB_ENV
          echo 'CCACHE_COMPILERTYPE=msvc' >> $GITHUB_ENV
          echo 'CCACHE_STATSLOG=C:\Users\runneradmin\ccache\statslog.txt' >> $GITHUB_ENV
          #echo 'CCACHE_LOGFILE=C:\Users\runneradmin\ccache\logfile.txt' >> $GITHUB_ENV
          # This tells msbuild to compile only one file at a time; ccache needs that.
          echo 'UseMultiToolTask=true' >> $GITHUB_ENV
          echo 'VCPKG_KEEP_ENV_VARS=CCACHE_COMPILER;CCACHE_STATSLOG;CCACHE_LOGFILE;CCACHE_COMPILERTYPE;UseMultiToolTask' >> $GITHUB_ENV

      # build the c++ library for standard targets
      - name: Build node
        if: ${{ (matrix.variant.os != 'ios') && (matrix.variant.os != 'android') }}
        run: npm run prebuild:node -- --arch=${{matrix.variant.arch}}

      # build the c++ library for IOS
      - name: Build iOS
        if: ${{ (matrix.variant.os == 'ios') }}
        run: npm run prebuild:ios

      # build the c++ library for Android
      - name: Build Android
        if: ${{ (matrix.variant.os == 'android') }}
        run: npm run prebuild:android -- --arch=${{matrix.variant.arch}}
        env:
          ANDROID_NDK: ${{ env.ANDROID_SDK_ROOT }}/ndk/${{ env.NDK_VERSION }}

      - name: Upload prebuild artifact
        uses: actions/upload-artifact@v2
        with:
          name: realm-js-prebuilds
          path: |
            dependencies.list
            ${{ matrix.variant.artifact-path }}

  integration-tests:
    name: Integration tests (${{matrix.variant.target}}) for ${{ matrix.variant.environment }} on ${{ matrix.variant.os }}
    needs: [build]
    env:
      REALM_DISABLE_ANALYTICS: 1
      MOCHA_REMOTE_TIMEOUT: 60000
      LONG_TIMEOUT: 300000 # 5 minutes
      REALM_BASE_URL: ${{ secrets.REALM_QA_BASE_URL }}
      REALM_PUBLIC_KEY: ${{ secrets.ATLAS_QA_PUBLIC_API_KEY }}
      REALM_PRIVATE_KEY: ${{ secrets.ATLAS_QA_PRIVATE_API_KEY }}
      MOCHA_REMOTE_REPORTER: mocha-github-actions-reporter
      MOCHA_REMOTE_EXIT_ON_ERROR: true
      SPAWN_LOGCAT: true
      # Pin the Xcode version
      DEVELOPER_DIR: /Applications/Xcode_13.4.1.app
    runs-on: ${{ matrix.variant.runner }}
    strategy:
      fail-fast: false
      matrix:
        variant:
          - { os: linux, target: test, runner: ubuntu-latest, environment: node }
          - { os: linux, target: "test:main", runner: ubuntu-latest, environment: electron }
          - { os: linux, target: "test:renderer", runner: ubuntu-latest, environment: electron }
          #- { os: windows, target: test, runner: windows-latest, environment: node}
          #- { os: windows, target: "test:main", runner: windows-latest, environment: electron }
          #- { os: windows, target: "test:renderer", runner: windows-latest, environment: electron }
          - { os: darwin, target: "test:main", runner: macos-latest, environment: electron }
          - { os: darwin, target: "test:renderer", runner: macos-latest, environment: electron }
          - { os: darwin, target: test, runner: macos-latest, environment: node }
          - { os: android, target: "test:android", runner: macos-latest, environment: react-native, arch: "armeabi-v7a" }
          - { os: ios, target: "test:ios", runner: macos-latest, environment: react-native, arch: "apple" }
          #- { os: ios, target: "test:catalyst", runner: macos-latest, environment: react-native, arch: "apple" }
    timeout-minutes: 60
    steps:
      - name: Generate Cluster Differentiator
        id: differentiator
        run: echo "::set-output name=name::${{matrix.variant.os}}-${{matrix.variant.target}}-${{matrix.variant.environment}}-${{env.GITHUB_RUN_ATTEMPT}}"

      - uses: realm/ci-actions/mdb-realm/deployApps@fac1d6958f03d71de743305ce3ab27594efbe7b7
        id: deploy-mdb-apps
        with:
          realmUrl: ${{ secrets.REALM_QA_BASE_URL }}
          projectId: ${{ secrets.ATLAS_QA_PROJECT_ID }}
          atlasUrl: ${{ secrets.ATLAS_QA_BASE_URL}}
          apiKey: ${{ secrets.ATLAS_QA_PUBLIC_API_KEY }}
          privateApiKey: ${{ secrets.ATLAS_QA_PRIVATE_API_KEY }}
          differentiator: ${{ steps.differentiator.outputs.name }}

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: "recursive"

      - name: Setup node version
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: Get NPM cache directory
        id: npm-cache-dir
        run: echo "::set-output name=dir::$(npm config get cache)"

      - name: Restore NPM cache
        id: npm-cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Restore React Native cache
        if: ${{ matrix.variant.environment == 'react-native' }}
        id: lerna-cache
        uses: actions/cache@v2
        with:
          path: '**/Pods'
          key: ${{ runner.os }}-${{matrix.variant.environment}}-${{ hashFiles('**/Podfile.lock', './src/**', './vendor/**') }}
          restore-keys: |
            ${{ runner.os }}-${{matrix.variant.environment}}-

      - name: MSVC Setup
        if: ${{ runner.os == 'Windows' }}
        uses: ilammy/msvc-dev-cmd@v1

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1
        if: ${{ matrix.variant.environment == 'react-native' }}
        with:
          key: ${{ runner.os }}-${{ matrix.variant.os }}-${{ matrix.variant.arch }}
          max-size: '2.0G'

      # in CI file timestamps change with every run so instead rely on file content hashing
      # https://reactnative.dev/docs/build-speed#using-this-approach-on-a-ci
      - name: Configure ccache
        if: ${{ matrix.variant.environment == 'react-native' }}
        run: ccache --set-config="compiler_check=content"

      - name: Install IOS tools
        if: ${{ (matrix.variant.os == 'ios') }}
        run: |
          npm install -g ios-deploy

      - name: Set xvfb wrapper for Linux / electron tests
        if: ${{ (matrix.variant.os == 'linux') && (matrix.variant.environment == 'electron' )}}
        run: |
          sudo apt-get install xvfb
          echo "wrapper=xvfb-run" >> $GITHUB_ENV

      - name: Download prebuilds
        uses: actions/download-artifact@v2
        with:
          name: realm-js-prebuilds

      - name: Install dependencies
        # Ignoring scripts to prevent building if a prebuild is missing
        run: npm ci --ignore-scripts

      - name: Install prebuild
        if: ${{ matrix.variant.environment == 'node' || matrix.variant.environment == 'electron' }}
        run: npx prebuild-install --tag-prefix= -r napi
        env:
          npm_config_realm_local_prebuilds: ${{github.workspace}}/prebuilds

      - name: Bootstrap lerna sub-packages
        run: npx lerna bootstrap --scope @realm/${{ matrix.variant.environment }}-tests --include-dependencies

      - name: Install pods
        if: ${{ matrix.variant.environment == 'react-native' && matrix.variant.os == 'ios'}}
        working-directory: integration-tests/environments/${{ matrix.variant.environment }}
        run: npx pod-install

      - name: Build tests
        run: npm run build --prefix integration-tests/tests

      - name: Invoke the simulator (making subsequent "open -a Simulator" calls work)
        if: ${{ (matrix.variant.os == 'ios') }}
        run: open -a ${{ env.DEVELOPER_DIR }}/Contents/Developer/Applications/Simulator.app/Contents/MacOS/Simulator

      - name: Create Mocha Env
        id: mocha-env
        run: echo "::set-output name=name::syncLogLevel=warn,longTimeout=${{ env.LONG_TIMEOUT }},realmBaseUrl=${{ secrets.REALM_QA_BASE_URL }},mongodbClusterName=${{ steps.deploy-mdb-apps.outputs.clusterName }},privateKey=${{ secrets.ATLAS_QA_PRIVATE_API_KEY }},publicKey=${{ secrets.ATLAS_QA_PUBLIC_API_KEY }}"

      - name: Run ${{matrix.variant.target}} (${{ matrix.variant.os}} / ${{ matrix.variant.environment }})
        if: ${{ (matrix.variant.os != 'android') && (matrix.variant.os != 'ios') }}
        env:
          MOCHA_REMOTE_CONTEXT: ${{ steps.mocha-env.outputs.name }}
        # The non react native environments should not take so long
        timeout-minutes: 20
        run: ${{ env.wrapper }} npm run ${{ matrix.variant.target}} --prefix integration-tests/environments/${{ matrix.variant.environment }}

      - name: Run ${{matrix.variant.target}} (${{ matrix.variant.os}} / ${{ matrix.variant.environment }})
        if: ${{ (matrix.variant.os == 'ios') }}
        env:
          MOCHA_REMOTE_CONTEXT: ${{ steps.mocha-env.outputs.name }}
        timeout-minutes: 45
        run: ${{ env.wrapper }} npm run ${{ matrix.variant.target}} --prefix integration-tests/environments/${{ matrix.variant.environment }}

      - name: Setup Java Gradle cache for android test app
        if: ${{ (matrix.variant.os == 'android') }}
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Setup Android Emulator cache
        if: ${{ (matrix.variant.os == 'android') }}
        uses: actions/cache@v3.0.4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-29

      - uses: actions/setup-java@v3
        if: ${{ (matrix.variant.os == 'android') }}
        with:
          distribution: 'zulu' # See 'Supported distributions' for available options
          java-version: '11'

      - name: Run ${{matrix.variant.target}} (${{ matrix.variant.os}} / ${{ matrix.variant.environment }})
        if: ${{ (matrix.variant.os == 'android') }}
        env:
          MOCHA_REMOTE_CONTEXT: ${{ steps.mocha-env.outputs.name }}
        timeout-minutes: 45
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          arch: x86
          ndk: ${{ env.NDK_VERSION }}
          cmake: 3.22.1
          script: npm run ${{ matrix.variant.target}} --prefix integration-tests/environments/${{ matrix.variant.environment }}

      - uses: realm/ci-actions/mdb-realm/cleanup@800a0234bcbe9073e7a07a66c864d54db3688e56
        if: ${{always()}}
        with:
          realmUrl: ${{ secrets.REALM_QA_BASE_URL }}
          atlasUrl: ${{ secrets.ATLAS_QA_BASE_URL}}
          projectId: ${{ secrets.ATLAS_QA_PROJECT_ID }}
          apiKey: ${{ secrets.ATLAS_QA_PUBLIC_API_KEY }}
          privateApiKey: ${{ secrets.ATLAS_QA_PRIVATE_API_KEY }}
          differentiator: ${{ steps.differentiator.outputs.name }}
